# Archivos de entorno virtual de Python
venv/
.venv/

# Archivos de chacé de Python
__pychache__/
*.pyc

# Archivos de cache de pytest??????
.pytest_cache/

# Archivos del SO
.DS_Store
Thumbs.db

# Archivos de logs o resultados temporales????????
*.log
*.tmp